.wall
	position relative

	&__plays
		width 100%
		position relative
		z-index 0
		// display flex
		// flex-wrap wrap
	.play
		opacity 0.05
		transition opacity 250ms ease-in-out	
		p
			color $off-white
			font-weight 900
			padding 0 1rem 200px 1rem
			font-size 1.25rem
			line-height 1.2
			text-shadow 0 0 3px $off-black	
			margin 0
			+mq('bp-3')
				padding 0 1rem 10rem 1rem
				font-size 2rem
			span
				display block
				font-family $mono
				color $yellow
				font-size 0.7rem
				font-weight 700
				margin-top 0.25rem
				text-shadow 0 0 3px $off-black
				+mq('bp-3')
					font-size 1rem
		&.is-active
			opacity 0.9
		
	&__video
		position fixed
		top 320px
		left 0
		width 100%
		overflow hidden
		z-index 0
		+mq('bp-3')
			z-index set-index('bottom')
			top 0
		video
			+mq('bp-3')
				min-width 100%
				min-height 100%
				width auto
				height auto
				position absolute
				top 50%
				left 50%
				transform translate(-50%,-50%)
	
	.video__overlay
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		background url('assets/bg-pattern-dark.png')
		opacity 0.25